@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<form method="post" action="../Pupil/Index">
@Html.ValidationSummary(true, "Login Failed, check details")
<table width="600px" height="150px">
    <tr>
        <tr>
            <td colspan="2" style="text-align: center; padding-bottom: 50px">
                <h2>
                    LOGIN
                </h2>
                <hr></hr>
            </td>
        </tr>
        <td style="vertical-align: middle">
            <h3>
                Reg No.
            </h3>
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            <h3>
                Student No.
            </h3>
        </td>
        <td>
            <input type="password">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Log In" style="margin-left: 220px; margin-top: 20px;
                background-color: #00008B; width: 140px">
        </td>
    </tr>
</table>
</form>
